body {
  margin:0; /*gets rid of white space around body*/
  height:200vh;
  background:url("https://static.pexels.com/photos/1440/city-road-street-buildings.jpg") no-repeat center / contain;
  background-color:white;
  position:relative; /*REQUIRED Sets up positioning for your footer*/
}
img{
	width: 250px;
	height: 200px;
	border: 1px solid;
}
/*footer*/
#sticky {
  width:100%;
  padding:20px;
  padding-bottom:16px;
  background:black;
  color:white;
  font-weight:bold;
  font-size:18px;
  text-align:center;
  position:fixed;    /*Here's what sticks it*/
  bottom:0;          /*to the bottom of the body*/
  left:0;            /*and to the left of the body.*/
  
  /*EFFECTS*/
  border-top:1px solid whitesmoke;
  background-image:url(http://rs257.pbsrc.com/albums/hh234/tfm448/Snow411.gif~c200)
}
/*Pagina 1 DAW*/
#container{
  width: 100%;
  height: 100%;
  margin: 25px 50px 75px;
  border: solid;
}