{% extends 'base3.html.twig' %}
{% block body %}

<center>
	<h1>1ยบ-Daw: Desarrollo de aplicaciones web</h1>
</center>


   <section id="container">
   		
		<p>Hola</p>
		
   </section>


<br>


{% endblock %}